body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f1115;
    color: #fff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #0f1115;
  }

  .brand-logo {
    height: 23px;
  }
  
  .brand {
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
  }
  
  .navbar ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .navbar li {
    cursor: pointer;
  }
  
  .btn {
    background-color: #00ff95;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
  }

  .pricing-title {
    font-size: 15px;
    color: gray;
    padding: 5px 10px;
    width: 50px;
    border: 1px solid gray;
    border-radius: 50px;
    margin: 0px auto;
  }

  .btn-outline {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pricing {
    text-align: center;
    margin-top: 60px;
  }
  
  .pricing-subtitle {
    font-size: 24px;
    font-weight: bold;
    margin: 12x;
  }

  .toggle {
    margin: 50px auto;
    width: 300px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 50px;
  }
  
  .toggle label {
    margin: 0 10px;
  }
  
  .save {
    color: gray;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .plans-card {
    width: 270px;
    padding: 10px 20px;
    border-top: 0.5px solid rgba(128, 128, 128, 0.586);
    
    border-radius: 10px;
    background-color: #15181e;
  }

  .free-title {
    margin-top: 20px;
    color: gray;
  }

  .dollar {
    font-size: 35px ;
  }

  .dollar span {
    font-size: 17px;
    margin-left: 5px;
  }

  .card-text {
    text-align: center;
    color: gray;
    font-size: 15px;
  }
  
  .big-btn {
    background-color: #fff;
    color: black;
    width: 220px;
    margin-left: 37px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
  }

  .plans-card hr {
    margin: 30px 0px;
    border: 1px solid gray;
  }

  .down-titles-heading {
    font-size: 15px;
  }
  
  .down-titles {
    color: gray;
    font-size: 15px;
  }

  .active-plan {
    background: linear-gradient(360deg, #00ff95, #0f111594);
    border: 1px solid #00ff95;
    box-shadow: 0 0 20px #00ff95;
    color: #fff;
  }
